#header
{
height:150px;
width:1202px;
color:blue;
margin-left:70px;
}

#left
{
width:350px;
height:500px;
margin-left:120px;
margin-top:60px;
color:blue;
}

#body1
{
height:300px;
width:300px;
margin-left:530px;
margin-top:-480px;
}

#right
{
height:400px;
width:400px;
margin-left:930px;
margin-top:-330px;
color:blue;
}

#footer
{
height:500px;
width:1202px;
margin-left:60px;
margin-top:-90px;
text-align:center;
}

h3
{
color:blue;
}
h2
{
text-align:center;
color:blue;
}
span
{
color:blue;
font-size:20px;
}


table,th,td
{
border:2px;
border-style:outset;
border-color:black;
}
table
{
height:30%;
width:50%;
}
caption
{
caption-side:top;
color:blue;
font-size:20px;
}
th
{
padding:2px;
text-align:center;
background-color:orange;
color:white;
height:50px;
}
tr
{
background-color:red;
}
td
{
color:black;
text-align:center;
padding:8px;
}

